.lboard {
  background-color: white;
  border-radius: 20px;
  padding: 25px 50px 80px 50px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 525px;
}

.lboard__last30Body {
  display: none;
}

.lboard__allTimeBody {
  display: none;
}

.lboard__seeAllBody {
  display: none;
}

.lboard__heading {
  text-align: center;
  font-size: 23px;
  font-weight: 900;
  color: #0E1126;
}

.lboard__filterButtons {
  text-align: center;
  margin-left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.lboard__buttons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 212px;
  height: 40px;
  border-radius: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F2F3F7;
  border: 1px solid #DBDFF0;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.lboard__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.lboard__userDeneme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lboard__userRanking {
  font-size: 24px;
  font-weight: 900;
  color: #0E1126;
  border: 0.5px solid #DBDFF0;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 500px;
  width: 84px;
  height: 55px;
}

.lboard__userRanking > img {
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 5px;
}

.lboard__userRanking > div {
  display: inline;
  margin-right: 13px;
}

.lboard__userDesc {
  margin-left: 10px;
}

.lboard__userName {
  font-size: 16px;
  font-weight: 700;
  -webkit-margin-before: 0.3em;
          margin-block-start: 0.3em;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.lboard__userViews {
  -webkit-margin-before: 0.2em;
          margin-block-start: 0.2em;
  font-size: 11px;
  font-weight: 200;
}

.lboard__footer {
  text-align: center;
  margin-top: 50px;
}

.lboard__userImages > img {
  width: 80px;
  height: 65px;
  border-radius: 8px;
}

.filterBtn {
  font-weight: 500;
  padding: 1px 15px;
  border: none;
  margin-right: 0;
  height: 32px;
  background: none;
  cursor: pointer;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.filterBtn.active {
  background-color: white;
  border-radius: 300px;
  border: 1px solid #DBDFF0;
}

.filterBtn:hover {
  background-color: white;
  border-radius: 300px;
  border: none;
  -webkit-box-shadow: 2px 2px 2px #DBDFF0;
          box-shadow: 2px 2px 2px #DBDFF0;
}

.viewBtn {
  font-size: 12px;
  height: 45px;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  background-color: #0E1126;
  color: white;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 4px solid #0E1126;
          box-shadow: 4px 4px 4px solid #0E1126;
}

body {
  background: #F2F3F7;
  font-family: 'Open Sans', sans-serif;
}
/*# sourceMappingURL=main.css.map */